# general things to ignore
.DS_Store
build/
.cache/
*.so
*.log
*~

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
include/config.h
*.out

# IDE
.vscode/
.python-version

# dbt
target/
dbt_packages/
logs/
*.duckdb
